{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My courses</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Courses</h2>
  <a href="{% url 'teachers:course_add' %}" class="btn btn-primary mb-3" role="button">Add course</a>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-11">
          <strong>Course</strong>
        </div>
        <div class="col-1">
          <strong></strong>
        </div>
      </div>
    </div>

    <div class="list-group list-group-flush list-group-formset">
      {% for course in courses %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-11">
              <a href="{% url 'teachers:course_change' course.pk %}">{{ course.name }}</a>
            </div>
            <div class="col-1">
              <a href="{% url 'teachers:course_delete' course.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="bg-light text-center font-italic" colspan="5">You haven't created any course yet.</div> 
      {% endfor %}
    </div>
  </div>
{% endblock %}
