{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
  <script>
    function add_unit() {
      if ($("#unit").val().length > 0) {
        $("#possible_units").append("<li><input class='units' type='radio' name='units' value='" + $("#unit").val() + "' required> " + $("#unit").val() + "<li/>");
        $("#unit").val('');
      }
    }

    function add_answer() {
      var count = $("#answers > div").length;
      if (count >= 10) {
        alert("You cannot have more than 10 answers");
      } else {
        $("#answers").append("<div class='list-group-item' id='" + count + "'><div class='row'><div class='col-8'><input type='text' name='answer_" + count +"' size='35' required></input></div><div class='col-2'><input type='checkbox' name='right_" + count + "' ></input></div><div class='col-2'><button onclick=delete_answer(" + count + ") name='delete_" + count +  "' ></button></div></div></div>");
      }
    }

    function delete_answer(id) {
      $("#"+id).remove();
    }

    $(document).ready(function(){
      $("#form").submit( function(eventObj) {
        $( ".units" ).each(function( index ) {
          if (!($(this).is(':checked'))) {
            $("<input />").attr("type", "hidden")
              .attr("name", "units")
              .attr("value", $(this).val())
              .appendTo("#form");
          }
        });
          return true;
      });
    });
  </script>


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:course_change_list' %}">My Courses</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:course_change' course_pk %}">{{ course_name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' course_pk=course_pk pk=quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:question_view' course_pk=course_pk quiz_pk=quiz.pk question_pk=question.pk %}">{{ question.text }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit question</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ question.text }}</h2>
  <form method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ form|crispy }}
    {% if question.image %}
    <img src="{{ question.image.url }}" height="420">
    <hr/>
    {% endif %}

    {% if question.question_type == 'MC' %}
    <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <strong>Answers</strong>
          </div>
          <div class="col-2">
            <strong>Correct?</strong>
          </div>
          <div class="col-2">
            <strong>Delete?</strong>
          </div>
        </div>
      </div>
      <div id="answers" class="list-group list-group-flush list-group-formset">
        {% if answers %}
          {% for a in answers %} 
            <div class="list-group-item" id='{{ forloop.counter0 }}'>
              <div class="row">
                <div class="col-8">
                  <input type='text' name='answer_{{ forloop.counter0 }}' size='35' value='{{ a.text }}' required></input>
                </div>
                <div class="col-2">
                  {% if a.is_correct %}
                  <input type='checkbox' name='right_{{ forloop.counter0 }}' checked></input>
                  {% else %}
                  <input type='checkbox' name='right_{{ forloop.counter0 }}'></input>
                  {% endif %}
                </div>
                <div class="col-2">
                  <button name='delete_{{ forloop.counter0 }}' onclick='delete_answer({{ forloop.counter0 }})'></button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="list-group-item" id='0'>
            <div class="row">
              <div class="col-8">
                <input type='text' name='answer_0' size='35' required></input>
              </div>
              <div class="col-2">
                <input type='checkbox' name='right_0'></input>
              </div>
              <div class="col-2">
                <button name='delete_0' onclick='delete_answer(0)'></button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <button onclick="add_answer();" type='button' class="btn btn-primary btn-sm">Add Answer</button>

    {% elif question.question_type == 'NU' %}
    <div>
      Answer: <input type='text' name='correct_answer' value='{{ answer }}' required></input><br/><br/>
      Select a correct unit (optional):<br/>
      <ul id="possible_units">
        {% for u in units %}
          {% if u == correct_unit %}
          <li><input class='units' type='radio' name='units' value='{{ u }}' required checked="checked"> {{ u }}<li/>
          {% else %}
          <li><input class='units' type='radio' name='units' value='{{ u }}' required> {{ u }}<li/>
          {% endif %}
        {% endfor %}
      </ul>
      <input id="unit" type='text' size='10'" ></input> <button onclick="add_unit();" type='button' class="btn btn-primary btn-sm">Add Unit</button>
    </div>

    {% endif %} 
    <hr/>
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'teachers:question_delete' course_pk quiz.pk question.pk %}" class="btn btn-danger float-right">Delete Question</a>
  </form>
{% endblock %}
