.logo {
  font-family: 'Clicker Script', cursive;
}

.logo a {
  color: #212529;
  text-decoration: none;
}

footer {
  font-size: .9rem;
}

footer a {
  color: #212529;
}

.list-group-formset label {
  display: none;
}

.list-group-formset .form-group,
.list-group-formset .invalid-feedback {
  margin-bottom: 0;
}

.list-group-formset .form-control {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-student {
  color: #fff;
  background-color: #91afb6;
  border-color: #91afb6;
}

.btn-student:hover,
.btn-student:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-teacher {
  color: #fff;
  background-color: #8980a5;
  border-color: #8980a5;
}

.btn-teacher:hover,
.btn-teacher:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}

.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

li {
  list-style: none;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}