{% extends 'base.html' %}

{% block content %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/classroom/');
 
    socket.onopen = function open() {
      console.log('WebSockets connection created.');
      if ({{ question.pk }}) {
        var msg = {
            type: 'present',
            question_pk: {{ question.pk }},
            course_pk: {{ course.pk }}
          }
        socket.send(JSON.stringify(msg));
      }
    };
 
    socket.onmessage = function message(event) {
      console.log("data from socket:" + event.data);
      var msg = JSON.parse(event.data);
      if (msg['course_pk'] == {{ course.pk }}) {
        if (msg['type'] == 'present') {
          $("#answer").empty();
          $("#answer").append("<p>Please answer the question.</p>")
          $("#submit_answer").show();
          if (msg['question_type'] == 'MC') {
            choices = JSON.parse(msg['answers']);
            for (var i = 0; i < choices.length; i++) {
              console.log(choices[i]);
              $("#answer").append("<input type='radio' name='student_answer' value=" + choices[i].pk + " required> " + choices[i].fields['text'] + "</input><br/>");
            }
          }
        } else if (msg['type'] == 'stop') {
          answer.innerText = "Please wait for a question";
          $("#submit_answer").hide();
        }
      }
    };
 
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'students:course_list' %}">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
    </ol>
  </nav>
  <form method="post">
    {% csrf_token %}
    <div class="form-group" id="answer">
      Please wait for a question.
    </div>
    <button id="submit_answer" type="submit" class="btn btn-primary" style="display:none">Submit</button>
  </form> 

{% endblock %}