{% extends 'base.html' %}

{% block content %}
  <h2>Courses</h2>
  <a href="{% url 'students:course_add' %}" class="btn btn-primary mb-3" role="button">Register for course</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td class="align-middle"><a href="{% url 'students:course' course.pk %}">{{ course.name }}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">You are not enrolled in any course.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
